<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.soas.mapper.UserMapper">
	
	<insert id="create">
	 	insert into tbl_user
			(user_type, platform_type, user_id, user_pw, user_name, user_phoneNum, user_email, thumbnail)
		values
			(#{user_type}, #{platform_type}, #{user_ID}, #{user_PW}, #{user_name}, #{user_phoneNum}, #{user_email}, #{thumbnail});
	</insert>

	<select id="read" resultType="UserVO">
		select 
			* 
		from 
			tbl_user 
		where 
			user_idx = #{user_idx};
	</select>

	<update id="update">
		update 
			tbl_user
		set
			user_name = #{user_name},
	        user_phoneNum = #{user_phoneNum},
	        user_email = #{user_email},
			thumbnail = #{thumbnail},
	        update_date = now()
		where
			user_idx = #{user_idx};
	</update>

	<delete id="delete">
		delete from
			tbl_user
		where 
			user_idx = #{user_idx};
	</delete>

	<!-- 로그인 -->
	<select id="login" parameterType="UserVO" resultType="UserVO">
		select 
			*
		from 
			tbl_user
		where 
			user_id=#{user_ID} and user_pw=#{user_PW};
	</select>
	
	<!-- 중복체크 -->
	<select id="checkID" parameterType="String" resultType="String">
		select
			user_id
		from
			tbl_user
	    where
			user_id = #{user_ID};
	</select>
			
	<!-- ID 찾기 -->
	<select id="findID" parameterType="UserVO" resultType="String">
		select 
			user_id
		from
			tbl_user
		where
			user_name = #{user_name}
		and 
			user_phoneNum = #{user_phoneNum}
		and
			user_email = #{user_email};
	</select>
	
	<!-- PW 변경 -->
	<select id="updatePW" parameterType="UserVO" >
		update
			tbl_user
		set
			user_pw = #{user_PW}
		where
			user_idx = #{user_idx};
	</select>
	
</mapper>