<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.soas.mapper.UserMapper">
	
	<insert id="create">
	 	insert into tbl_user
			(user_type, platform_type, user_id, user_pw, user_name, user_phoneNum, user_email, thumbnail)
		values
			(#{user_type}, #{platform_type}, #{user_ID}, #{user_PW}, #{user_name}, #{user_phoneNum}, #{user_email}, #{thumbnail});
	</insert>

	<select id="read" resultType="UserVO">
		select 
			* 
		from 
			tbl_user 
		where 
			user_idx = #{user_idx};
	</select>

	<update id="update">
		update 
			tbl_user
		set
			user_name = #{user_name},
	        user_phoneNum = #{user_phoneNum},
	        user_email = #{user_email},
			thumbnail = #{thumbnail},
	        update_date = now()
		where
			user_idx = #{user_idx};
	</update>

	<delete id="delete">
		delete from
			tbl_user
		where 
			user_idx = #{user_idx};
	</delete>

	<!-- 로그인 -->
	<!-- <select id="login" parameterType="MemberVO" resultType="MemberVO">
		select *
		from tbl_user
		where userid=#{userid} and userpw=#{userpw}
	</select> -->
	
	<!-- PW 변경 -->
	<!-- ID 찾기 -->
	<!-- PW 찾기 -->
</mapper>